<div class="col-md-8 col-md-offset-2">

    <h3>Use the <strong>Weighed Matrix Comparison</strong> tool</h3>

    <p>
        This solution will work best in your case. Add in all the possible solutions and record how important they are to each criterion. Implement the highest scoring solution.
    </p>

    <p>
        <img src="http://i.imgur.com/H1bYflM.png" alt="Weighed-Matrix example" class="img-responsive">
    </p>


    <p>An alternate solution is the <strong>Benfits/Drawbacks comparison too.</strong>
    <br>
    <a href="http://i.imgur.com/zQQoUqn.png" target="_blank">Check out this example</a></p>
</div>

{{#control-bar class="text-right"}}
    {{#link-to "problem.generate" class="btn btn-lg btn-default pull-left"}}
        <i class="glyphicon glyphicon-chevron-left"></i> Back
    {{/link-to}}
    {{#link-to "problem.monitor" class="btn btn-lg btn-success"}}
        Next <i class="glyphicon glyphicon-chevron-right"></i>
    {{/link-to}}
{{/control-bar}}
