<p class="lead">
    1.<br>
    You are a<br>
    <big><strong>Convergent</strong></big><br>
    problem solver<br>
</p>
<p><small>although you also have a bit of <em>divergent</em> in you</small></p>
<br>
<p>
    That means you compare, contrast, rank, and evaluate the best solution. You're careful and
    patient. You dislike hunches and guesswork, and you're intolerant of uncertainty.
</p>
<br>
<p>
    {{#link-to "problem" class="btn btn-lg btn-default"}}
        Okay, got it!
    {{/link-to}}
</p>
