<header class="container">
    <h3>
        <img src="https://gravatar.com/avatar/89339983d18fb9129fe86739e3f7c5e4?s=512" id="logo" alt="Nick's Problem Solving Tool">
    </h3>
</header>

<div class="container">
    <div class="row">
        {{outlet}}
    </div>
</div>
