<div class="col-xs-12">
    <h1 class="text-center">So I hear you have a problem</h1>
    <p class="lead">
        Use this tool as a way to work towards the solution of any problem. The problem solving
        process is just a few simple steps:
    </p>
</div>
<div class="clearfix"></div>
<div class="col-md-8 col-md-offset-2">
    <ol>
        <li>Determine your problem solving style</li>
        <li>Identify the problem</li>
        <li>Analyze the problem - <em>4 basic steps</em></li>
        <li>Determine possible solutions</li>
        <li>Choose and implement the best solution</li>
        <li>Monitor and revise - <em>is the solution you have chosen working?</em></li>
    </ol>
</div>
<div class="clearfix"></div>
<div class="col-xs-12">
    <br>
    <p class="lead">Ready? Hit the button to continue</p>

    <p class="text-muted">
        Made by Nikolai Frasser (UWaterloo ID <code>nfrasser</code>) for PD6 Problem Solving. <br>Source <a href="https://github.com/nfrasser/action-plan" target="_blank">available on GitHub</a>.
    </p>
</div>
{{#control-bar class="text-center"}}
    {{#link-to "prelude" class="btn btn-lg btn-success"}}
        Get Started <i class="glyphicon glyphicon-chevron-right"></i>
    {{/link-to}}
{{/control-bar}}
