<div class="col-xs-12">
    <h2>
        Before we begin...<br>
        <small>there's one thing you should know</small>
    </h2>
    <br>
    {{outlet}}
</div>
{{#control-bar class="text-right"}}
    {{#link-to "index" class="btn btn-lg btn-default pull-left"}}
        <i class="glyphicon glyphicon-chevron-left"></i> Back
    {{/link-to}}
    {{#link-to "problem" class="btn btn-lg btn-warning"}}
        Skip this Step <i class="glyphicon glyphicon-chevron-right"></i>
    {{/link-to}}
{{/control-bar}}

