<div class="col-md-8 col-md-offset-2">
    <ul class="lead">
        <li>
            <a href="https://global.factiva.com/factivalogin/login.asp?productname=global" target="_blank">Factiva</a> - A problem research tool
        </li>
        <li>
            <a href="https://uwaterloo.ca/counselling-services/" target="_blank">
                UWaterloo Counselling Services
            </a>
        </li>
    </ul>
</div>
{{#control-bar class="text-right"}}
    {{#link-to "index" class="btn btn-lg btn-success pull-left"}}
        <i class="glyphicon glyphicon-chevron-left"></i> Start Over
    {{/link-to}}
{{/control-bar}}
